---
---


// COLORS
$swedishYellow: #f7ea48; // f7ea4c
$swedishDarkBlue: #233747;
$swedishGray: #7a7d81;
$swedishGreenBlue: #159aaa; // 189aaa


body {
  font-family: Avenir, Futura, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, Futura, sans-serif;
}


.orbit {
  display: block !important;
}

.top-bar {
  background-color: #fff;

}

.top-bar .logotype {
  width: 13em;
  margin: 1em;
}


// What we are

.what-we-are {
  background-color: $swedishDarkBlue;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white;
  }

  margin-bottom: 2em;
}

// Who we are
.who-we-are {

  .title {
    margin-bottom: 1em;
  }

  .techie {
    margin-bottom: 4em;
  }

  .techie .portrait {
    width: 6em;
    border: 2px solid $swedishGreenBlue;
    border-radius: 100%;

  }
}

// What we are doing

.figure-container {
  text-align: center;
}

.what-we-are-doing {

  .figure {
    width: 150px;
  }
}

.orbit-slide {
  padding: 1em 3em;
}

.orbit-bullets button {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid $swedishGreenBlue;
}

.orbit-bullets button:hover {
  background-color: $swedishGreenBlue;
}

.orbit-bullets button.is-active {
  background-color: $swedishGreenBlue;
}

.orbit-previous, .orbit-next {
  color: $swedishGray;
  margin: 0 0.5em;

}

.orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
  background-color: rgba($swedishDarkBlue, 0.10);
}



hr {
  border-bottom: 1px solid $swedishGreenBlue;
  margin-top: 2em;
  margin-bottom: 2em;
}



// Typed.js

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
