<!doctype html>
<html class="no-js" lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      main p {
        text-align: center;
        font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <main>
      <div>
      {{ content }}
      </div>
    </main>



  </body>
</html>
